body.activeModal {
  overflow-y: hidden;
}

.buttonsFirst{
display: flex;
}

.btnModal {
  padding: 10px 20px;
  display: block;
  margin: 100px auto 0;
  font-size: 18px;

  border-radius: 10px;
  padding:15px 70px;
  background: #01601B;
  color: #FFFFFF;
  cursor: pointer;
  font-weight: 500;
  border: none;
  font-family: 'Helvetica Neue', sans-serif;
}

.modal, .overlay {
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: fixed;
}

.overlay {
  background: rgba(49,49,49,0.8);
}
.modalContent {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  line-height: 1.4;
  background: #f1f1f1;
  padding: 14px 28px;
  border-radius: 3px;
  max-width: 600px;
  min-width: 300px;
  z-index: 100
}

.closeModal {
  position: absolute;
  top: 5px;
  right: 5px;
  padding: 10px 14px;
  border-radius: 8px;
  background-color: #01601B;
  cursor: pointer;
  border: none;
  color: #fff;

}



.container {
  padding: 16px;
  background-color: white;
}

.inputStyle {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  display: inline-block;
  border: none;
  background: #f1f1f1;
}

.input:focus {
  background-color: #ddd;
  outline: none;
}




.registerbtn {
  background-color: #01601B;
  color: white;
  padding: 16px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
  opacity: 0.9;
}

.registerbtn:hover {
  opacity: 1;
}




.signin {
  background-color: #f1f1f1;
  text-align: center;
}

.firstSection {
  display: flex;
  align-items: center;
 gap:200px;
}

.text h1{
  font-size: 44px;
  width: 472px;
  font-weight: 700;
  font-family: 'Helvetica Neue', sans-serif;
}

.text p {
  font-size: 20px;
  width:380px;
  margin-top: 30px;
  line-height: 25px;
  font-family: 'Helvetica Neue', sans-serif;
  font-size: 18px;
}




.close {
  position: absolute;
  right: 25px;
  top: 0;
  color: #000;
  font-size: 35px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: red;
  cursor: pointer;
}

.imgContainer img {
  width: 40%;
  border-radius: 50%;

}

.imgContainer {
  text-align: center;
  margin: 24px 0 12px 0;
  position: relative;
}

.container2 {
  padding: 16px;
}

.modalContent2 {
  background-color: #fefefe;
  margin: 5% auto 15% auto; /* 5% from the top, 15% from the bottom and centered */
  border: 1px solid #888;
  width: 80%; /* Could be more or less, depending on screen size */
}



span.psw {
  float: right;
  padding-top: 16px;
}

.container2 input {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

.cancelbtn {
  width: auto;
  padding: 10px 18px;
  background-color: #f44336;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  color: white;

}

.cancelbtn:hover {
  opacity: 0.8;
}

.container2 button {
  background-color: #04AA6D;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
}

.container2 button:hover {
  opacity: 0.8;
}





